---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignAfterOpenBracket: DontAlign
SkipMacroDefinitionBody: true
ColumnLimit: 120
TabWidth: 8
UseTab: Never
---

